
// @import "../node_modules/bootstrap/scss/bootstrap.scss";

@import '../node_modules/bootstrap/scss/mixins.scss';
@import '../node_modules/bootstrap/scss/functions.scss';
@import './helper/variables.scss';


.box {
    color: $blue;
}

.a {
    color: red;
}

.b {
    color: yellow
}